MODEL_PATH=model_artifacts/best_model_finetuned.keras
CLASS_JSON_PATH=model_artifacts/class_indices.json

# Threshold prediksi
PROB_THRESH=0.70
MARGIN_THRESH=0.15
ENTROPY_THRESH=0.80

# Ukuran input (opsional, kalau kosong akan diambil dari model)
IMG_H=224
IMG_W=224

GEMINI_MODEL=gemini-2.5-flash-lite

# CORS untuk akses dari Laravel
ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,*
GEMINI_API_KEY=