# === Python / FastAPI ===
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# TensorFlow, Keras logs
logs/
checkpoint/
*.log

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
__pycache__/

# dotenv / secrets
.env
.env.*

# PyCharm / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
